<!-- This contains admin level info about stories
including a list of stories with options to modify them

needs a button to create a new story -->

<!-- This contains admin level info about stories
including a list of stories with options to modify them
needs a button to create a new story -->

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: layout(~{::title},~{::#main}, _, _)}">

<title>Story Admin -- All Stories</title>
<div id="main">
    <h1>Story Admin -- All Stories</h1>
    <br/>
    <!-- add new story -->
    <div>
        <a th:href="@{/admin/story/new-story}">
            <button class="btn btn-primary">Add New Story</button>
        </a>
    </div>
    <br>
    <!-- list of story cards here -->
    <div th:if="${!stories.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>&#x2B50; count</th>
                <th>&#x1F441; count</th>
                <th>Story</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody th:each="story : ${stories}">
            <template th:replace="~{admin/snippets/story-table-row :: layout(${story})}"></template>
            </tbody>
        </table>
    </div>
    <div>

    </div>
</div>

</html>
