<!-- including a list of stories with options to modify them	including a list of stories with options to modify them
needs a button to create a new story 	needs a button to create a new story -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: layout(~{::title},~{::#main}, _, _)}">

<title>Admin Panel: Add a Story.</title>
<div id="main">
    <h1>Admin Panel: Add A Story.</h1>
    <form th:action="@{/admin/story/new-story}" th:object="${story}"
          method="post">
        <fieldset class="form-section">

            <div class="form-item">
                <label for="title">Story Title:</label>
                <input type="text" id="title" th:field="*{title}"/>
                <span th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}">
				</span> <br/>
            </div>

            <br/>
            <div class="form-item">
                <label for="content">Story Content:</label>
                <textarea type="text" id="content" th:field="*{content}"></textarea>
                <span th:if="${#fields.hasErrors('content')}"
                      th:errors="*{content}"></span><br/>
            </div>

            <br/>

            <div class="form-item">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>

        </fieldset>
    </form>
</div>
</html>
