/** this will contain site-wide css */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

#sm-table tbody tr:hover {
    filter: invert();
}

/* === form ================================================= */
form {
    display: flex;
    flex-flow: row wrap;
    row-gap: 2em;
}

.form-section {
    display: table;
    float: left;
    margin-left: 2vw;
    border-spacing: .25em;
    border-collapse: separate;
    border: 0;
}

.form-section .form-item {
    display: table-row;
}

.form-item > * {
    display: table-cell;
    margin: .5em;
}

.form-item .form-msg {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.3em;
    padding: 0 0 0 1em;
}

.form-item input[type=radio] {
    margin-left: .5em;
}

.form-item span {
    font-size: inherit;
    font-weight: bolder;
}

.form-span {
    margin-bottom: .5em;
}

/* === nav ================================================== */
.navbar-inverse, ul.nav li a, ul.nav li a:visited,
ul.nav li a:hover, ul.nav li a:active,
ul.nav li.active a {
    padding: 0;
    background: black;
    font-size: 1em;
    font-weight: bolder;
    color: white !important;
    text-decoration: none;
    text-align: center;
}

.btn-icon {
    height: 1.4em;
}

.navbar-brand {
    font-size: 1em;
}


.navbar-nav {
    display: flex;
    flex-direction: row;
}

<<<<<<< Updated upstream
#navHome, #navSignIn {
    padding: 1%;
    background-color: white;
}

#mi-image {
    max-width: 80%;
}

.page-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
	}

#admin-link{
	padding-left: 20px;
}

#password, #username {
    padding-block: 10%;
    margin-block: 10%;
}

#footer-id {
    background: black;
    text-align: center;
    font-size: 0.8em;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.jumbotron {
    background-color: #f4511e;
    border-radius: 0 !important;
    color: #ffffff;
    padding: 1px;
}

.col-sm-3 {
    padding-left: 1%;
    padding-bottom: 1%;
}

.row {
    flex-wrap: wrap;
    margin-right: 1%;
    margin-left: 1%;
}


#main {
    margin: auto;
    text-align: center;
    width: 60%;
    border-style: solid;
    border-width: medium;
    border-color: #f4511e;
    padding: 10px;
}

.signin-section {
    display: table-column;
    padding: 1% 1% 10%;
}
