{% extends "../common/base.twig" %}
{% set title="Welcome to Serious Storytime!" %}

{% block main %}
    <h1>Welcome to Serious Storytime!</h1>
    <a href="#">SIGN UP</a> or <a href="#">SIGN IN</a>
{% endblock %}