<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: layout(~{::title},~{::#main}, _, _)}"
>

<title th:inline="text">Welcome! [[${parent.username}]]</title>

<div id="main">
    <h1 th:inline="text">Welcome, [[${parent.username}]]</h1>

    <!-- list of children -->
    <div th:if="${!parent.children.isEmpty()}">
        <span>Children</span>
        <div th:each="child : ${parent.children}">
            <template th:replace="~{user/snippets/child-details :: layout(${child})}"></template>
        </div>
    </div>

    <div></div>

    <!-- add child -->
    <div><a th:href="@{/parent/{id}/new-child(id=${parent.id})}">
        <button>add child</button>
    </a>
    </div>


</div>

</html>