{# todo #}
Create Your Parent Account

<form action="#" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name"/>

    <label for="passphrase">Passphrase:</label>
    <input type="text" id="passphrase"/>

    <input type="submit" value="Submit"/>

</form>