{% extends "../common/base.twig" %}
{% set title="Create Your Parent Account" %}

{% block main %}
    <h1>Create Your Parent Account</h1>

    <form action="#" method="post">
        <fieldset class="form-section">
            <div class="form-item">
                <label for="name">Name:</label>
                <input type="text" id="name"/>
            </div>
            <div class="form-item">
                <label for="passphrase">Passphrase:</label>
                <input type="text" id="passphrase"/>
            </div>
            <button id="btn-parent-create" class="btn btn-primary btn-lg">Create Account</button>
        </fieldset>

        {#        <input type="submit" value="Submit"/>#}

    </form>
    {# user-site.js performs the form submit via ajax #}
    <script src="js/user-site.js"></script>
{% endblock %}