<div class="child-details"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="layout(parent, child)"
>
    <!-- for each child -->
    <div>

        <div>
            <span><strong>[[${child.name}]]</strong></span>
            <!-- edit prefs -->
            <a th:href="@{/parent/{pid}/child/{cid}/prefs(pid=${parent.id}, cid=${child.id})}">
                <img th:src="@{~/img/edit.svg}" class="button btn-icon">
            </a>
        </div>
        <div>
            <!-- favorite story cards (to read) --><!-- show hidden --><!-- only favorites-->
            <span>favorite stories</span><span>show hidden</span><span>only favorites</span>
        </div>
    </div>
    <br/>
</div>
