<div class="story-card"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="layout(parent, story)"
>
    <!-- todo show enabled/disabled star via css -->
    <span class="story-card-favorite-toggle">&#x2B50;</span>

    <span class="story-card-title">[[${story.title}]]</span>

    <span class="story-card-demo-btn">
        <a th:href="@{/parent/{pid}/story/{sid}(sid=${story.id}, pid=${parent.id})}">demo</a>
    </span>

    <span class="story-card-time">time</span>

    <!-- todo show enabled/disabled eye via css -->
    <span class="story-card-hide-toggle">&#x1F441;</span>
    <div class="read-to-list">
        <div th:if="${!parent.children.isEmpty()}">
            <div th:each="child : ${parent.children}">
                <a th:href="@{/parent/{pid}/child/{cid}/read/{sid}(pid=${parent.id}, cid=${child.id}, sid=${story.id})}">read
                    to [[${child.name}]]</a>
            </div>
        </div>
    </div>
</div>
