<meta charset="UTF-8">

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap" rel="stylesheet">
<!--
interesting fonts -- don't add all since pageload will slow
https://fonts.google.com/?sort=alpha&thickness=5&selection.family=Cinzel+Decorative:900|Cinzel:900|Homemade+Apple|Modern+Antiqua|Pirata+One|Playfair+Display+SC:900|Sarabun:800i|Spinnaker|Stoke|Teko:700|Trochut:700|Uncial+Antiqua|Yanone+Kaffeesatz:700
-->

<!-- client javascript -->
<!-- th:src is not an error, thymeleaf is poor at templating html head elements -->
<script th:src="@{~/js/client.js}"></script>

<!-- custom styles -->
<!-- th:src is not an error, thymeleaf is poor at templating html head elements -->
<link th:href="@{~/css/styles.css}" rel="stylesheet" type="text/css">
